#Categories {
	position:absolute;
	top:0px;
	left:0px;
	width:20%;
}
#Categories .Category{
	text-align:right;
	padding:10px;
	margin-top:10px;
	font-size:18px;
	width:80%;
	border-bottom:1px solid #cccccc;
}
#Categories .Category:hover{
	color:#FFFFFF;
	background-color:#2d2d2d;
}
#art {
	position:relative;
	margin-left:20%;
	width:80%;
}
#art #imageContainer{
	width:80%;
}
#art #imageContainer img {
	width: 100%;
	height: auto;
}
#art #info {
 position:relative;
 width:80%;
}
#art #info #number{
	float:left;
	font-size:24px;
	color:#2d2d2d;
	margin-top:5px;
}
#art #info .arrow{
	float:left;
}
#art #info .arrow img{
	width:64px;
	height:64px;
	margin-top:-16px;
}
#art #info #title{
	float:left;
	font-size:24px;
	color:#2d2d2d;
	margin-top:5px;
	padding-left:20px;
	border-left:1px solid #ccc;
}